services:
  database:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: expanded_decks
      MYSQL_USER: expanded_decks
      MYSQL_PASSWORD: expanded_decks
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 5
      start_period: 30s
    ports:
      - "3342:3306"
    volumes:
      - database_data:/var/lib/mysql

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "1035:1025"
      - "8035:8025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  database_data:
